<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/finalprojectcss.css" rel="stylesheet">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


<body>

<h1>BBT Web Design and Development</h1>


<div class="row">
  <div class="column" style="background-color:#ccddff;">
    <h2>Previous Work</h2>

      <img src="/static/IMG_3752.jpg" alt ="picture" width="200" height="200" ></img>

      <img src="/static/IMG_3752.jpg" alt ="picture" width="200" height="200"></img>



  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Basic templates</h2>

      <img src="/static/IMG_3752.jpg" alt ="picture" width="200" height="200"></img>

      <img src="/static/IMG_3752.jpg" alt ="picture" width="200" height="200"></img>

  </div>
</div>

    <div id="end">
    <footer>

        <nav>
            <ul>
                <li>
                    <a href= "/otherstuff" style="color: black">About US</a>
                </li>
                <li>
                    <a href="/contact" style="color: black">Contact Us</a>
                </li>
                <li>
                    <a href="/" style="color: black">Home</a>
                 </li>

            </ul>
        </nav>

    </footer>
    </div>
</body>
</html>
